*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-purple: #5F67E9;
    --secondary-purple: #4331C1;

    --title: #000;
    --text: #555;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);

    margin-bottom: 9px;
    
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        display: flex;
        align-items: center;
        
        ul{
            display: flex;
            list-style: none;

            li{
                margin-left: 60px;

                cursor: pointer;

                &:hover{
                    border-bottom: 2px solid var(--primary-purple);
                }
            }
        }
    }
}

.menuMobile{
    width: 40px;
    height: 30px;
    margin: 40px 20px 40px 0;

    display: flex;
    flex-direction: column;
}

.mm-line{
    display: none;
    width: 40px;
    height: 1px;
    padding-top: 5px;
    background-color: var(--primary-purple);
}

main{
    background-image: url('../img/bg-hero.png');
    background-position: center;
    background-size: cover;

    height: calc(100vh - 99px);

    div{
        max-width: 1164px;

        display: flex;
        justify-content: center;
        flex-direction: column;

        h1{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            max-width: 820px;

            font-size: 72px;
            font-weight: 300;
            line-height: 84px;
            color: var(--primary-purple);
            
            margin-top: 56px;
            padding-bottom: 24px;

            animation: bounceInLeft;
            animation-duration: 2s;
        }

        p{
            padding: 40px 0;
            color: var(--text);
        }

        button{
            width: 180px;
            background: transparent;
            font-size: 16px;
            font-weight: 600;
            color: var(--primary-purple);
            
            border: 2px solid var(--primary-purple);
            border-radius: 24px;
            padding: 12px 44px;

            cursor: pointer;

            transition: all 0.3s ease-in-out;
            
            &:hover{
                border: 2px solid var(--secondary-purple);
                color: var(--secondary-purple);
            }
        }
    }
}

section{
    margin-top: 48px;


    h1{
        text-align: center;
        font-size: 40px;
        margin-bottom: 32px;
    }

    .services{
        max-width: 876px;
        margin: 0 auto;

        color: var(--text);

        h2{
            font-size: 32px;
            margin-bottom: 16px;
        }

        p{
            margin-top: 21px;
            margin-bottom: 48px;
        }
    }
}

.separator{
    width: 200px;
    height: 5px;
    background-color: var(--primary-purple);
}

.container-p{
    width: 100%;
    max-width: 1184px;
}

.barr{
    background-color: var(--primary-purple);
    color: #FFF;
    
    .barr-intern{
        max-width: 730px;
        width: 100%;
        height: 150px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 16px;
        
        .active{
            background-color: var(--secondary-purple);
            padding: 8px 16px;
            border-radius: 16px;
        }
    
        p{
            cursor: pointer;
        }
    
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    margin: 80px auto;

    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.card{
    width: 270px;
    height: 270px;
    border-radius: 12px;

    display: flex;
    align-items: flex-end;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);

    div{
        padding: 18px;

        button{
            background: transparent;
            color: #FFF;
            border-radius: 24px;
            border: 1px solid #FFF;
            padding: 11px 35px;
            font-size: 14px;

            cursor: pointer;

            transition: all 0.2s ease-in-out;

            &:hover{
                border: 1px solid #BBB;
                color: #BBB;
            }
        }

        p{
            color: #FFF;
            font-size: 16px;
            font-weight: 300;
            margin-top: 16px;
        }
    }
}

.card-01{
    background-image: url('../img/card1.png');
}

.card-02{
    background-image: url('../img/card2.png');
}

.card-03{
    background-image: url('../img/card3.png');
}

.card-04{
    background-image: url('../img/card4.png');
}

.card-05{
    background-image: url('../img/card5.png');
}

.card-06{
    background-image: url('../img/card6.png');
}

.card-07{
    background-image: url('../img/card7.png');
}

.card-08{
    background-image: url('../img/card8.png');
}

.barr-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;

    max-width: 1200px;
    width: 100%;
    height: 150px;

    padding: 0 16px;

    h3{
        font-size: 22px;
        font-weight: 300;
    }

    p{
        font-size: 16px;
        font-weight: 300;
    }

    button{
        font-size: 14px;
        font-weight: 500;
        color: #FFF;
        background-color: var(--secondary-purple);
        padding: 10px 16px;
        
        border-radius: 16px;
        border: 0;
        
        cursor: pointer;

        transition: 0.2s ease-in-out;

        &:hover{
            opacity: 0.8;
        }
    }
}

.works-area{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    max-width: 1200px;
    
    margin-bottom: 48px;

    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .work{
        width: 380px;
        height: 360px;
        display: flex;
        align-items: flex-end;

        div{
            padding-bottom: 56px;
            padding-left: 32px;

            color: var(--text);
            // text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

            h4{
                font-size: 32px;
                font-weight: 400;
            }

            p{
                font-size: 16px;
            }
        }

        .white-text{
            h4, p{
                color: #FFF;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .work1{
        background-image: url('../img/work1.png');
    }
    .work2{
        background-image: url('../img/work2.png');
    }
    .work3{
        background-image: url('../img/work3.png');
    }
}

footer{
    width: 100%;
    min-height: 400px;
    background-color: var(--primary-purple);

    display: flex;
    flex-direction: column;

    .footer-content{
        width: 100%;
        padding-top: 48px;
        display: flex;
        justify-content: center;
        flex: 1;
        flex-wrap: wrap;

        color: #FFF;

        div{
            width: 300px;

            h4{
                padding: 14px 0 18px 0;
            }

            p{
                width: 250px;
                font-size: 14px;
            }

            div{
                padding-bottom: 10px;

                img{
                    margin-right: 8px;
                }
            }
        }

        .footer-icons{
            padding: 16px 0;

            img{
                margin-right: 8px;
            }
        }
    }

    .footer-inferior {
        background-color: var(--secondary-purple);
        bottom: 0;
    
        div{

            max-width: 1200px;
            height: 70px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 12px;
            font-weight: 300;
            color: #FFF;
        }
    }
}

.flex{
    display: flex;
}

@media (max-width: 820px){
    header nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: #FFF;

        li{
            padding: 12px 0;
        }
    }

    .mm-line{
        display: block;
        flex-direction: column;
        justify-content: space-around;
    }

    .container-p{
        padding: 0 16px;
    }

    .services, .footer-inferior {
        padding: 0 16px;
    }
}

@media (max-width: 480px){
    .container-p{
        padding: 0 16px;
        h1{
            font-size: 40px;
            line-height: 56px;
        }
        p{
            font-size: 14px;
        }
    }
    .barr-infos{
        h3{
            font-size: 16px;
        }
    
        p{
            font-size: 14px;
        }
    }

    .footer-inferior div p{
        font-size: 10px;
    }

}

@media (max-width: 390px){
    .barr-infos{
        h3{
            font-size: 14px;
        }
    
        p{
            font-size: 12px;
        }
    }
    .works-area{
        .work{
            padding: 0 10px;
            width: 280px;
        }
    }
}